<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.create">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Q_YPRY">

        </activity>
        <activity android:name=".activity.Q_ZHMM" />
        <activity android:name=".activity.Q_YHZC" />
        <activity android:name=".activity.Q_YHDR">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.Z_RCSCActivity">

        </activity>
        <activity android:name=".activity.Z_YPRYLBActivity">

        </activity>
        <activity android:name=".activity.Z_WDJLActivity">

        </activity>
        <activity android:name=".activity.Z_ZPXXActivity">

        </activity>
        <activity android:name=".activity.ZPXXActivity2">

        </activity>
        <activity android:name=".activity.Z_FBZPGLActivity">

        </activity>
        <activity android:name=".activity.Z_ZYActivity">

        </activity>

        <activity android:name=".activity.Z_FBZPSHActivity">

        </activity>
        <activity android:name=".activity.Z_FBZXFBActivity">

        </activity>
        <activity android:name=".activity.Z_FBZPJLActivity">

        </activity>
        <activity android:name=".activity.Z_ZPSCActivity">

        </activity>
        <activity android:name=".activity.Z_FSJLactiviy">

        </activity>
        <activity android:name=".activity.Z_TBXXActivity">

        </activity>
        <activity android:name=".activity.Z_XXTAActivity">

        </activity>
        <activity android:name=".activity2.Z_TJGYSActivity">

        </activity>
        <activity android:name=".activity2.Z_GYSLBActivity">

        </activity>
        <activity android:name=".activity2.Z_GYSActivity">

        </activity>
        <activity android:name=".activity2.Z_GYSXXActivity">

        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>